<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p><input id="username" type="text">username
<p><input id="age" type="text">age
<p><input id="hobbies" type="text" >hobbies
<p><button id="sbmt">Create</button>

</body>
<script type="text/javascript">
    const getMethodPay = () => {
        const username = document.getElementById("username").value;
        const age = document.getElementById('age').value;
        const hobbies = document.getElementById('hobbies').value;
        console.log('test+++++', username, age, hobbies)
        const data = {
            username,
            age,
            hobbies
        }
        console.log('data====', data)
        fetch('http://localhost:4000/api/users', {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(res => res.json())
            .then(res => console.log(res))
    }
    document.getElementById("sbmt").addEventListener("click", getMethodPay);

</script>
</html>
